<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Movimento</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #333;
        }
        video {
            border: 5px solid #fff;
        }
    </style>
</head>
<body>
    <div>
        <h1 style="color:white;text-align:center;">Detecção de Movimento com Score</h1>
        <img src="{{ url_for('video_feed') }}" width="800">
    </div>
</body>
</html>
